#home-vertically-center {
  min-height: 95%;
  min-height: 95vh;
  display: flex;
  align-items: center;
  background-color:  #3a1268;
}

#home-heading {
  color: #b89bda;
  font-size: 2rem;
  line-height: 3.25rem;
}

#home-tagline {
  color: #f5f3f5;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.navbar-brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#button {
  color: #3a1268;
  background-color: #b89bda;
  border: none;
}
